.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
html{
    font-size: calc(100vw / 1920 * 10);
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background: #161618;
    height: 100%;
}
.container{
    max-width: 153.2rem;
    // padding: 0 1.5rem;
    margin: 0 auto;
    @media (max-width: 962px){
        padding: 0 6rem;  
    }
}

